<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/course.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Course</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="img/404.jpeg" alt="Logo" class="logo-img">
                <span class="logo-text">My Website</span>
            </div>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="trajectory.html">Trajectory</a></li>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <button class="dark-mode-toggle"><i class="fas fa-moon"></i></button>
        </nav>
    </header>
    <main id="course-container">
        <!-- These is an example of a course detail section but it will be deleted an replaced with dynamic content -->
        <section class="go-back">
            <a href="courses.html" class="go-back-link">Go Back to Courses</a>
        </section>
        <section class="course-banner">
            <h1>Introduction to Programming</h1>
            <p>By Benito Franco Lopez</p>
        </section>
        <section class="course-description">
            <p>This course provides an introduction to programming using Python. It covers basic concepts such as variables, data types, control structures, functions, and object-oriented programming.</p>
            <div class="extra-info">
                <span class="level">Level: Beginner</span>
                <span class="number-classes">Number of Classes: 3</span>
                <span class="duration">Duration: 10 Hours</span>
            </div>
        </section>
        <section class="course-content">
            <h2>Course Content</h2>
            <ul class="class-list">
                <li><a href="/document-reader"><i class="fas fa-book"></i> Class 1: Introduction to Python and Setup</a></li>
                <li><a href="#"><i class="fas fa-book"></i> Class 2: Variables and Data Types</a></li>
                <li>
                    <a href="#"><i class="fas fa-play"></i> Class 3: Control Structures</a>
                    <span class="video-duration">5 min</span>
                </li>
            </ul>
        </section>
    </main>
    <script src="../js/course.js"></script>
</body>
</html>