<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/trajectory.css">
    <link rel="stylesheet" href="../styles/project.css">
    <script src="../libs/wow.js/dist/wow.min.js"></script>
    <script src="../js/dark.js" defer></script>
    <title>Trajectory</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <span class="logo-text">My Website</span>
            </div>
            <ul class="nav-links active">
                <li>
                    <i class="fas fa-house disable-icons"></i>
                    <a href="../index.html">Home</a></li>
                <li>
                    <i class="fas fa-user disable-icons"></i>
                    <a href="about.html">About</a></li>
                <li>
                    <i class="fas fa-road disable-icons"></i>
                    <a href="trajectory.html">Trajectory</a></li>
                <li>
                    <i class="fas fa-graduation-cap disable-icons"></i>
                    <a href="courses.html">Courses</a></li>
                <li>
                    <i class="fas fa-briefcase disable-icons"></i>
                    <a href="projects.html" class="active">Projects</a></li>
            </ul>
            <div class="menu-icon" id="menu-icon">
                <i class="fas fa-bars"></i>
            </div>
            <i class="fa-regular fa-moon icons dark-mode-toggle"></i>
        </nav>
    </header>
    <main>
        <section class="section-title trajectory-title">
            <h1>My Projects</h1>
            <p class="section-abstract">I have gather some of my past and on-going projects. I have started and led these projects.</p>
        </section>
        <section class="section-subtitle projects">
            <div class="projects-grid">
                <!-- Card 1 -->
                <article class="project-card">
                    <div class="project-media">
                        <img src="../img/zero.png" alt="Project logo 1">
                    </div>
                    <div class="project-body">
                        <h3 class="project-title">Zero2Hero Coding Academy</h3>
                        <p class="project-meta">Founder; January 2022 – On-going</p>
                        <p class="project-desc">Online coding academy focused on helping students develop skills to build their own projects.</p>
                        <div class="project-links">
                            <a href="https://www.zero2hero.lat/" target="_blank" rel="noopener">@zero2herocode</a>
                        </div>
                    </div>
                </article>

                <!-- Card 2 -->
                <article class="project-card">
                    <div class="project-media">
                        <img src="../img/cimat.png">
                    </div>
                    <div class="project-body">
                        <h3 class="project-title">Spectral Community Detection for Portfolio Optimization</h3>
                        <p class="project-meta">Researcher; 2023 – 2025</p>
                        <p class="project-desc">Master’s thesis at CIMAT analyzing S&P 500 stock networks using spectral community detection to build reduced portfolios and evaluate their performance with real market data.</p>
                    </div>
                </article>

                <!-- Card 3 -->
                <article class="project-card">
                    <div class="project-media">
                        <img src="../img/unam.png" alt="Project logo 3">
                    </div>
                    <div class="project-body">
                        <h3 class="project-title">Educational Innovation & Automation at CEIDE-UNAM</h3>
                        <p class="project-meta">Data Scientist; 2024 – 2025</p>
                        <p class="project-desc">Developed automation and AI tools for CEIDE–UNAM, including scientometric pipelines, project classification, database normalization, and interactive dashboards to support evidence-based educational policy.</p>
                    </div>
                </article>

                <!--Card4 -->
                <article class="project-card">
                    <div class="project-media">
                        <img src="../img/ULB.jpg
                        ">
                    </div>
                    <div class="project-body">
                        <h3 class="project-title">Optimal Pension Decumulation Models in Ageing Societies</h3>
                        <p class="project-meta">PhD Researcher; 2025 – On-going</p>
                        <p class="project-desc">This PhD research at Université libre de Bruxelles develops quantitative models to optimize retiree decumulation strategies, analyzing factors like longevity risk and taxation to inform public policy and pension product design.</p>
                    </div>
                </article>

                <!--Card 5 -->
                <article class="project-card">
                    <div class="project-media">
                        <img src="../img/pia.png">
                    </div>
                    <div class="project-body">
                        <h3 class="project-title">PIA – AI Telepsychology Platform</h3>
                        <p class="project-meta">Software Developer; 2023 – On-going</p>
                        <p class="project-desc">This platform facilitates secure video therapy sessions between psychologists and clients, integrating Zoom, Firebase, and OpenAI for scheduling and AI-driven summaries.</p>
                        <div class="project-links">
                            <a href="https://pia-bienestar.web.app/#/landing" target="_blank" rel="noopener">Project Website</a>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <script src="../js/common.js"></script>
    </main>

</body>

</html>