main {
    flex-direction: column;
}

section {
    width: 100%;
}

.about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-title h2 {}

.about-title p {}




.about-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin-bottom: 50px;
    padding: 40px 80px;
}

.info-content {
    flex: 2;
    max-width: 800px;
    text-align: center;
}

.about-info-title,
.about-info-description {
    text-align: left;
}

.about-info-title {
    font-size: clamp(1.2rem, 2.5vw, 1.6rem);
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1.2;
}

.about-subtitle {
    margin-bottom: 30px;
    padding: 0px 80px;
    text-align: center;
}

.about-subtitle {
    text-align: left;
}

.about-info-description {
    line-height: 1.4;
    margin-bottom: 0.5em;
    padding-top: 2%;
}

.about-info-description:last-child {
    margin-bottom: 0;
}


.about-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-image img {
    width: 90%;
    max-height: 700px;
    border-radius: 5px;
    aspect-ratio: 9/12;
    object-fit: cover;
}

.skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 80px;
    gap: 20px;
}

.skill {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr 150px;
    grid-template-rows: auto auto;
    align-items: start;
    gap: 15px;
    margin-bottom: 0;
    border: 2px solid var(--border);
    background-color: var(--card-color);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.skill i {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 20px;
    text-align: center;
}

.skill h3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-bottom: 5px;
}

.skill ul {
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.image-container {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    width: 100%;
    display: flex;
    border-radius: 10px;
    height: 120px;
    align-items: center;
    justify-content: center;
}

.skill-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
    height: 120px;
    width: 100%;
    flex: 1;
    border-radius: 10px;
}


.skill ul li {
    list-style: disc;
    list-style-position: inside;
    padding: 5px;
    text-align: left;
    font-size: var(--font-text-size);
    font-weight: var(--font-text-weight);
}

.skill ul li::marker {
    color: var(--primary-color);
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    main {
        padding: 20px 7%;
        height: auto;
    }

    .about-info {
        flex-direction: column;
        gap: 20px;
        padding: 30px 20px;
    }

    .about-image {
        margin: 20px 0;
    }

    .about-image img {
        width: 100%;
        max-height: 400px;
    }

    .skill {
        grid-template-columns: 50px 1fr;
        grid-template-rows: auto auto auto;
    }

    .skill i {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .skill h3 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-bottom: 5px;
    }

    .skill ul {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding-left: 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .skill-img {
        display: none;
    }
}