main{
    flex-direction: column;
}

section {
    width: 100%;
}

.about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.about-title h2 {

}

.about-title p {

}

.about-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin-bottom: 50px;
}

.info-content {
    flex: 2;
    max-width: 800px;
    text-align: center;
}

.about-info-title, .about-info-description {
    text-align: left;
}

.about-info-title {
    margin-bottom: 20px;
}

.about-info-description {
    line-height: 1.4;
}

.about-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-image img {
    width: 80%;
    max-height: 600px;
    border-radius: 10px;
    aspect-ratio: 9/12;
    object-fit: cover;
}
.skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill {
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr minmax(100px, 300px);
    grid-template-rows: 100px auto;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.skill i{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.skill h3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-bottom: 10px;
}
.skill ul {
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

.skill-img {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.skill ul li {
    list-style: circle;
    padding-left: 20px;
    min-width: 100px;
    flex: 1;
    margin-bottom: 5px;
}