main {
    flex-direction: column;
}

section {
    width: 100%;
}

.about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.about-title h2 {}

.about-title p {}

.about-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin-bottom: 50px;
}

.info-content {
    flex: 2;
    max-width: 800px;
    text-align: center;
}

.about-info-title,
.about-info-description {
    text-align: left;
}

.about-info-title {
    margin-bottom: 20px;
}

.about-info-description {
    line-height: 1.4;
}

.about-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-image img {
    width: 80%;
    max-height: 600px;
    border-radius: 10px;
    aspect-ratio: 9/12;
    object-fit: cover;
}

.skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr minmax(100px, 300px);
    grid-template-rows: 100px auto;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    border: 2px solid #ccc;
    padding: 20px;
    padding-right: 0;
    border-radius: 20px;
}

.skill i {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 20px;
    text-align: center;
}

.skill h3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-bottom: 10px;
}

.skill ul {
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    width: 100%;
    display: grid;
    grid-template-columns: 1px 1fr;
    border-radius: 10px;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-right: -40px;
}

.skill-img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image-wrapper {
    position: relative;
    margin-right: -20px;
    margin-bottom: -20px;
    overflow: hidden;
    height: 100%;
    width: 150px;
}

.image-wrapper::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 30%);
    pointer-events: none;
}

.skill ul li {
    list-style: disc;
    min-width: 100px;
    flex: 1;
    margin: 5px 10px;
    list-style-position: inside;
    min-width: fit-content;
    padding-left: 1.5em;
    text-indent: -1.5em;
}

.skill ul li::marker {
    color: var(--primary-color);
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    main {
        padding: 20px 7%;
        height: auto;
    }

    .about-info {
        flex-direction: column;
        gap: 20px;
    }

    .about-image {
        margin: 20px 0;
    }

    .about-image img {
        width: 100%;
        max-height: 350px;
    }

    .skill {
        grid-template-columns: 50px 1fr;
        grid-template-rows: auto auto auto;
    }

    .skill i {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .skill h3 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

    }

    .skill ul {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding-left: 0;
        justify-content: center;
    }

    .skill-img {
        display: none;
    }
}