section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-title {
    margin-bottom: 2rem;
}

.info-description {
    margin-bottom: 2rem;
    text-align: left;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 2rem;
}

.buttons a {
    background-color: #3F81E5;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.social-networks {
    width: 25%;
    margin-top: 20px;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
}

.info {
    flex: 1;
    padding-right: 50px;
}

.personal-image {
    flex: 1;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.personal-image img {
    width: 70%;
    border-radius: 50%;
}

.bubble {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(63, 129, 229, 0.2);
    border-radius: 50%;
    z-index: -1;
}

.bubble:nth-child(1) {
    width: 80px;
    height: 80px;
    top: 20px;
    right: 20px;
    background-color: rgba(63, 129, 229, 0.15);
}

.bubble:last-child {
    width: 100px;
    height: 100px;
    bottom: 60px;
    left: 30px;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column-reverse;
        padding: 20px 10%;
        height: auto;
    }

    .info, .personal-image {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .info {
        margin-bottom: 30px;
    }

    .personal-image img {
        width: 50%;
    }

    .buttons {
        justify-content: center;
    }

    .social-networks {
        width: 60%;
        margin: 20px auto 0;
        justify-content: space-around;
    }
}