body{
    overflow-y: hidden;
}

section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-title {
    color: var(--text);
    font-size: var(--font-home-title-size);
    font-weight: var(--font-home-title-weight);
  }
  
  .info-description {
    color: var(--secondary-text);
    font-size: var(--font-text-size);
    font-weight: var(--font-text-weight);
    margin-top: 10px;
  }

.info-title {
    margin-bottom: 1.5rem;
}

.info-description {
    margin-bottom: 2.1rem;
    text-align: left;
    line-height: 1.3; 
}

.social-networks {
    width: 25%;
    margin-top: 20px;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
}

.social-networks i {
    color: var(--primary-color);
    font-size: 1.6rem;
    transition: color 0.2s, transform 0.2s;
}

.social-networks a:hover i{
    color: #1e40af; /* Un tono más oscuro del primario */
    transform: scale(1.2);
}

.info {
    flex: 1;
    padding-right: 50px;
}

.personal-image {
    flex: 1;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.personal-image img {
    width: 70%;
    border-radius: 50%;
}

.bubble {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(63, 129, 229, 0.2);
    border-radius: 50%;
    z-index: -1;
}

.bubble:nth-child(1) {
    width: 70px;
    height: 70px;
    top: 110px;
    right: -10px;
    background-color: rgba(63, 129, 229, 0.15);
}

.bubble:last-child {
    width: 100px;
    height: 100px;
    bottom: 75px;
    left: -30px;
}

@media screen and (max-width: 1000px) {
    .personal-image img {
        width: 90%;
    }

    .info {
        padding-right: 20px;
    }

    .social-networks {
        width: 40%;
    }
    
    .buttons {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .buttons a {
        width: 80%;
        text-align: center;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column-reverse;
        padding: 20px 10%;
        height: auto;
    }

    .info, .personal-image {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .info {
        margin-bottom: 30px;
    }

    .personal-image img {
        width: 50%;
    }

    .buttons {
        justify-content: center;
    }

    .social-networks {
        width: 60%;
        margin: 20px auto 0;
        justify-content: space-around;
    }
}