/* ===== Variables ===== */
:root {
  --font-sans: "Poppins", sans-serif;

  /* Colores principales */

  /* Fondo */
  --background: #ffffff;

  /* Texto */
  --text: #3B3B3B;

  /* Color primario */
  --primary-color: #3F81E5;

  /* Color secundario */
  --secondary-color: hsl(from var(--primary-color) h s calc(l - 20%));

  /* Bordes */
  --border: #d1d5db;

  /* Texto secundario */
  --secondary-text: #424242;

  

  --font-header-size: clamp(0.8rem, 2vw, 1rem);
  --font-header-weight: 600;

  --font-title-size: clamp(2rem, 5vw, 3rem);
  --font-title-weight: 500;

  --font-subtitle-size: clamp(1.2rem, 3vw, 1.8rem);
  --font-subtitle-weight: 600;

  --font-abstract-size: clamp(1rem, 2.5vw, 1.4rem);
  --font-abstract-weight: 200;

  --font-text-size: clamp(0.9rem, 2vw, 1.2rem);
  --font-text-weight: 200;

  --font-button-size: clamp(0.9rem, 2vw, 1.2rem);
  --font-button-weight: 100;
}


.dark {
  --background: #111827;
  --foreground: #f9fafb;
  --accent: #3b82f6;
  --accent-hover: #1e40af;
  --border: #374151;
  --muted: #9ca3af;
}

/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
}

body {
  background-color: var(--background);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.logo-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.logo-text {
  white-space: nowrap;
}

.info-title {
  color: var(--text-color);
  font-size: var(--font-title-size);
  font-weight: var(--font-title-weight);
  font-variation-settings: var(--font-title-variation);
}

.info-description {
  color: var(--secondary-text);
  font-size: var(--font-text-size);
  font-weight: var(--font-text-weight);
  margin-top: 10px;
}

li {
  list-style: none;
  margin-top: 10px;
  font-size: var(--font-header-size);
  font-weight: var(--font-header-weight);
}

/* ===== Navbar ===== */
header {
  width: 100%;
  padding: 0 15%;
  border-bottom: 2px solid var(--border);
}

nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 5vw;
}

/* ===== Main Layout ===== */
main {
    display: flex;
    padding: 20px 15%;
    height: calc(100vh - 80px);
}

.buttons {}