main{
    flex-direction: column;
    max-width: 100vw;
}

.trajectory-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.education {
    width: 100%;
    margin-bottom: 50px;
}

.education-title {
    margin-bottom: 10px;
}

.education .section-abstract {
    margin-bottom: 30px;
}



.education-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.education-level {
    flex: 0 0 calc(33.333% - 10px);
    max-width: 400px;
    font-weight: bold;
    border: 2px solid var(--border);
    background-color: var(--card-color);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.education-image {
    width: 100%;
    height: 125px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 15px;
}

.level-title {

    font-size: 1.1rem;
    font-weight: 500;
    min-height: 3.6rem;
    display: flex;
    align-items: center;
}

.level-description {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;


}
.level-list {
    margin-bottom: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.level-list dt {
    margin-bottom: 5px;
    font-weight: bold;
    float: left;
    clear: left;
    margin-right: 10px;
}

.level-list dd {
    margin: 0 0 15px 0;
    font-weight: normal;
}

.education hr {
    margin: 15px 0;
    border: none;
    border-top: 1px solid #ccc;
}

.available-projects {
    margin-bottom: 15px;
    min-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}


.languajes {
    width: 100%;
    padding-bottom: 50px;
}

.languajes-title {
    margin-bottom: 10px;
}

.languajes-description {
    line-height: 1.4;
    margin-bottom: 10px;
}

.languajes-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
}

.languajes-list li {
    flex: 1;
    list-style: decimal;
    list-style-position: inside;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    min-height: 80px;
    display: flex;
    align-items: center;
}

.languajes-list li::marker {
    color: var(--primary-color);
    font-size: 20px;
    text-align: start;
}

.li-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.languajes-list h3 {
    margin-bottom: 8px;
    min-height: 1.5rem;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
}

.languajes-list p {
    line-height: 1.4;
}

.certification {
    position: absolute;
    top: 37%;
    right: 20px;
    background-color: var(--primary-color);
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 500;
}

.education-button {
    width: auto;
    align-self: flex-start;
    padding: 1% 5%;
}

.languajes-title {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.languajes-title i {
    color: var(--primary-color);
    font-size: 1.2em;
}

@media screen and (max-width: 1000px) {
    main {
        padding: 20px 7%;
        height: auto;
    }

    .education-level{
        flex : 1 1 calc(50% - 10px);
        max-width: 100%;
    }
}